:root {
  --base-100: #fff;
  --base-200: #2a2a2a;
  --base-300: #1f1f1f;
  --base-400: #0f0f0f;
  --base-500: #fb4016;
}
a,
p {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
  line-height: 1;
  display: inline-block;
}
nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}
.nav-logo,
.nav-cta {
  flex: 1;
  display: flex;
}
.nav-cta {
  justify-content: flex-end;
}
.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
nav a {
  height: max-content;
  color: var(--base-100);
  background-color: var(--base-300);
  border: 1px solid var(--base-200);
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.nav-logo a {
  font-weight: 500;
  color: var(--base-400);
  background-color: var(--base-500);
  border: none;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  color: var(--base-100);
}
.container {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--base-400);
  overflow: hidden;
}
.container .slider {
  position: absolute;
  width: 100%;
  height: 100svh;
  perspective: 250px;
  perspective-origin: 50% 100%;
  overflow: hidden;
}
.container .slider .slide {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 50%;
  height: 350px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-title {
  font-family: "Inter", sans-serif;
  color: var(--base-100);
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
}
.slide-title .word {
  will-change: transform;
  font-family: "Inter", sans-serif;
}
